body {
    justify-content: center;
    align-items: center;
    display: flex;
    background: url('../img/background.jpg');
    margin: 0;
    height: 100vh;

    .content {
        justify-items: center;
        align-items: center;
        display: grid;

        #horoscope {
            color: white;
        }
        
        p {
            color: white;
            background: black;
            padding: .7rem;
            margin: 1rem .7rem;
        }
        
        form {
            background: blue($color: #016ead);
            display: grid;
         
            input {
                align-content: center;
                justify-content: center;
                padding: .6rem;
                margin: .4rem;
            }
            .btn {
                justify-content: center;
                align-items: center;
                display: flex;
                margin: 0;
            
                a {
                    padding: .5rem;
                    margin: .5rem;
                    text-decoration: none;
                    color: black;

                    img {
                        height: 32px;
                        width: 32px;
                    }
            
                    &.fetch {
                        background: green;
                        border-radius: 999rem;
                    }
                    &.update {
                        background: yellow;
                        border-radius: 999rem;
                    }
                    &.delete {
                        background: red;
                        border-radius: 999rem;
                    }
                    &:hover {
                        background: white;
                    }
                }
            }
        }
    }
}